.header {
  background: black;
  height: 15vh;
  width: 100vw;

  .header-content {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
    padding: $s-size $xl-size;

    .header-content__img {
      color: white;
      font-size: 50px;
    }

    .header-content__link {
      color: white;
      font-family: 'Bangers', cursive;
      font-size: 150%;
      text-decoration: none;
      transition: color .5s ease;
      &:hover {
        color: #5597ED;
        text-decoration: none;
      }
    }

    .header-content__title {
      color: #5597ED;
      font-family: 'Monoton', cursive;
      font-size: 210%;
      margin: 0;
      text-transform: uppercase;
    }
  }

}

@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .header {
      height: 10vh;

      .header-content {
        padding: $s-size $s-size;

        .header-content__title {
          font-size: 130%;
        }

        .header-content__img {
          font-size: 30px;
        }

        .header-content__link {
          font-size: 80%;
        }
      }
    }
}

@media only screen and (max-width: 370px) {
    /* For mobile phones: */
    .header {
      height: 5vh;

      .header-content {
        padding: $s-size $s-size;

        .header-content__title {
          font-size: 100%;
        }

        .header-content__img {
          font-size: 20px;
        }

        .header-content__link {
          font-size: 70%;
        }
      }
    }
}
