.loader {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: center;
  width: inherit;
}

.loader__gif {
  height: 15rem;
  width: 15rem;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .loader {
      height: 84vh;
    }
}

@media only screen and (max-width: 440px) {
    /* For mobile phones: */
    .loader {
      height: 89vh;
    }
}
