.search-bar {
  align-items: center;
  background: #5597ED;
  box-shadow: 0 4px 4px -4px #777;
  display: flex;
  height: 10vh;
  justify-content: center;
  width: 100vw;

  .search-bar__input {
    border: 2px solid white;
    border-radius: 5rem;
    height: 40%;
    margin-left: 5px;
    padding-left: 10px;
    width: 60%;
    &::placeholder {
      font-style: italic;
    }
    &:focus {
      outline: none;
    }
  }

  .search-bar__icon {
    color: white;
    font-size: 120%;
  }

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .search-bar {
      height: 6vh;

    .search-bar__input {
      height: 60%;
      width: 80%;
    }
  }
}
