// rem has better support for accessibility

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.Toastify__toast {
  border-radius: 4px;
}

.Toastify__toast--error {
  background: #F11F1F;
}

.Toastify__toast-body {
  font-family: 'Bangers', cursive;
}
